footer {
    background-color: #000;
    color: #fff;
    font-size: 1.1rem;
    margin: 0 auto;
    padding: 20px 0;
}

footer a {
    color: #fff;
    margin-left: 3px;
	text-decoration: underline;
}

footer a:hover {
    color: #fff;
	cursor: pointer;
}
