
.tourney-matches {
    border-radius: 0px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: 100%;
}

.date-card {
    border-bottom: solid 1px #ebebeb;
}

.date-card__header {
    border-bottom: 1px solid #ebebeb;
    background: #f5f5f5;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 5px 24px 5px;
}

.round-card {
    border-bottom: solid 1px #ebebeb;

}

.round-card__header {
    border-bottom: 1px solid #ebebeb;
    background: #f5f5f5;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 5px 24px 5px;
    text-align: right;
}
.round-card__content {
    display: flex;
    flex-wrap: wrap;
}

.match-card {
    background-color: #fff;;
    border: solid 1px #e0e0e0;
    padding: 15px;
    display: flex;
}

.match-card__teams__team {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}