* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

nav {
	background-color: #222;
	display: flex;
	height: 80px;
	justify-content: space-between;
	width: 100%;
}

nav a.nav__logo {
	color: white;
	font-size: 25px;
	line-height: 80px;
	padding: 0 15px;
}

nav ul {
	margin-right: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a {
	border-radius: 3px;
	color: #fff;
	font-size: 15px;
	padding: 10px 13px;
	text-transform: uppercase;
}

a:hover {
	border-bottom: #F58A07 solid 3px;
	color: #fff;
	text-decoration: none;
}

.checkbtn {
	font-size: 30px;
	color: white;
	/* float: right; */
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

@media (max-width: 540px) {
	.checkbtn {
		display: block;
	}

	nav a.nav__logo {
		padding: 0;
	}


	nav ul {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #222;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all 0.5s;
		z-index: 1000;
	}

	nav ul li {
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}

	a:hover {
		font-weight: bold;
	}

	#check:checked ~ ul {
		left: 0;
	}
}
